{{ define "main" }}
<section class="section">
<article>
<div class="columns is-centered">
<div class="column max-800px">
<h1 class="title is-1">{{ .Title }}</h1>
<div class="content">
{{ .Content }}
</div>
</div>
</div>
</article>
</section>
{{ .Site.Params.Author }}
{{ with .Site.Params.authorImage }}
<div>
    <img src="{{ . }}" 
    width="150px" 
    height="139px"/>
</div>
{{ end }}
{{ .PublishDate.Format "January 2, 2006" }}
<p>{{ .ReadingTime }} {{ if eq .ReadingTime 1 }} Minute {{ else }} Minutes {{ end }}</p>
{{ range $idx, $category := .Params.categories }}
{{- if ne $idx 0 }}, {{ end }}<a href="{{ "categories/" | relURL }}{{ $category | urlize }}">
{{ $category }}
</a>
{{- end }}
{{ end }}
