<a href="{{ .Permalink }}" >
<div class="card">
    <header class="card-header">
        <div class="card-header-title is-centered">{{ .Title }}</div>
    </header>
    <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{ .Params.image }}" alt="">
            </figure>
    </div>
    <div class="card-content">
        <div class="media-content">
            <p class="title">{{ .Site.Params.Author }}</p>
            <p class="subtitle">{{ .PublishDate.Format "January 2, 2006"}}</p>
        </div>
        <div class="content">{{ .Summary }}</div>
    </div>
    <div class="card-footer">
        {{range $category := .Params.categories}}
        <a href="{{ "categories/" | relURL }}{{ $category | urlize }}" class="card-footer-item">{{ $category }}</>
        {{ end }}
    </div>

</div>
</a>