{{ define "main" }} 
<div class="container"> 
    <div class="section"> 
        <div class="content"> 
            {{ .Content }}
             <div alignment="left">
                 <img source="{{ .Site.Params.ImageMoi }}"alt="moi !">Moi !</img>
            </div>
            <div alignment="right">
                <h1> Tom D.</h1>
                <p>
                    Etudiant en première année d'informatique
                </p>
                <p>
                    Fan de littérature fantastique et SF, de JRPG et d'animés obscurs des années 90
                </p>
                <p>
                    Actuellement en train d'apprendre le japonais </p>
                    世界征服
                </p>
            </div>
        </div> 
    </div>
</div> 
{{ end }}